/* Padronizar tags*/
*{
    font: 14px sans-serif;
    margin: 0px;
    padding: 0px;
    outline: none;
}

/*Fundo*/
body{
    background-image: url("../Imagens/fundo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/*Topo*/
header{
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

header h1{
    float: left;
    margin: 20px;
    color: #fff;
    font-size: 26px;
}

header nav{
    float: right;
}

header a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    margin-right: 20px;
    transition: 0.3s;
}

header a:hover{
    color: #000;
}

/*Anúncio*/
.anuncio{
    width: 50%;
    margin-top: 8%;
    margin-left: 5%;
}

.anuncio h1{
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 50px;
    line-height: 70px;
}

/*Reserva*/
.reserva{
    background-color: rgba(109, 232, 174, 0.6);
    border-radius: 5px;
    border: 3px solid rgb(96, 194, 171);
    box-shadow: -3px 3px 10px rgb(3, 60, 65);
    width: 580px;
    margin-left: 5%;
    padding: 1%;
} 

.reserva h1{
    color: rgb(59, 50, 50);
    font-size: 26px;
    margin-bottom: 20px;
}

.reserva select{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

.reserva input[type="date"]{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-left: 10px;
    width: 140px;
}

.reserva input[type="button"]{
    border: 1px solid #6d6a6a;
    border-radius: 5px;
    padding: 3px 12px;
    margin-left: 10px;
}

/*Conteúdo Principal*/
main{
    width: 990px;
    margin: 0 auto;
    margin-top: 472px;
}

/*Ofertas*/
.ofertas h1{
    text-align: center;
    font-size: 30px;
    padding: 40px;
}

.ofertas li{
    display: inline-block;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: box-shandow 0.5s, transform 0.5s;
}

.ofertas li:nth-child(2){
    margin: 0px 150px;
}

.ofertas li:hover{
    box-shadow: 0px 0px 10px #999;
    transform: translate(0px, -20px);
}

.ofertas img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.ofertas a{
    text-decoration: none;
}

.ofertas p{
    text-decoration: none;
    color: #000;
    background-color: rgb(89, 204, 150);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -3px;
}

/*Depoimentos*/
.Depoimentos{
    border-top: 1px dotted rgb(131, 122, 122);
    margin-top: 50px;
}

.Depoimentos h1{
    text-align: center;
    font-size: 30px;
    padding: 40px;
}

.Depoimentos img{
    width: 100px;
    border-radius: 80px;
    display: inline-block;
    margin-bottom: 10px;
}

.Depoimentos li{
    width: 280px;
    padding: 10px;
    display: inline-block;
    border: 1px solid rgb(179, 167, 167);
    border-radius: 10px;
    text-align: center;
    color: #999292;
}

.Depoimentos li:nth-child(2){
    margin: 0px 38px;
}

.Depoimentos p:nth-child(1){
    text-align: justify;
    line-height: 19px;
    text-indent: 15px;
    margin-bottom: 20px;
    font-size: 12px;
}

/*Rodapé*/
footer{
    margin-top: 80px;
    background-image: url("../Imagens/rodape.jpg");
    background-size: contain;
}

footer ul{
    color: #fff;
    display: inline-block;
    margin-left: 100px;
    margin-top: 100px;
}

footer li{
    list-style: none;
    margin-bottom: 15px;
}

footer li:first-child{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

footer p{
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 12px;
}

/*Contato*/
.contato{
    padding-top: 80px;
    overflow: hidden;
}

.contato iframe{
    float: left;
    border: 1px solid rgb(131, 128, 128);
    border-radius: 10px;
    width: 470px;
    height: 329px;
}

.contato form{
    float: right;
    border: 1px solid #6d6a6a;
    border-radius: 10px;
    width: 470px;
}

.contato input[type="text"],
.contato textarea{
    width: 436px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #6d6a6a;
}

.contato textarea{
    height: 100px;
    resize: none;
}

.contato input[type="submit"]{
    padding: 5px 30px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #6d6a6a;
}

/*Conheça a Agência*/
.sobre img{
    width: 90%;
    border-radius: 70px 70px 70px 70px;
    padding: 50px;
}

.sobre h1{
    color: rgb(45, 245, 211) ;
    text-align: center;
    width: auto;
    padding: 30px;
    font-size: 36px;
}

.sobre p{
    float: left;
    color: rgb(14, 14, 14);
    font-size: 15px;
    text-align: justify;
}

/*Pacotes*/
.pacotes h1{
    text-align: center;
    font-size: 40px;
    padding: 40px;
    color: rgb(30, 255, 0);
}

.pacotes li{ 
    display: inline-block;
    width: 290px;
    border: 2px solid rgb(224, 224, 220);
    border-radius: 20px;
    padding: 12px;
    transition: box-shandow 0.5s, transform 0.5s;
}

.pacotes li:nth-child(1){
    float: left;
}

.pacotes li:hover{
    box-shadow: 0px 0px 10px #999;
    transform: translate(0px, -10px);
}

.pacotes img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.pacotes a{
    text-decoration: none;
}

.pacotes p{
    font: 20px san-serif;
    text-decoration: none;
    color: rgb(235, 244, 247);
    background-color: rgb(177, 168, 51);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -3px;
}


