 /*Fonte*/
@font-face{
    font-family: FonteTitulo;
    src: url("../fontes/Amperzand.ttf");
}

/*Fonte*/
@font-face{
    font-family: FonteTitulo1;
    src: url("../fontes/Bellerose.ttf");
}

.nav-link{
    font-family: FonteTitulo1;
    font-size: 20px;
}

.hidden-xs{
    width: 160px;
    }

.lojas{
    text-decoration: underline;
    margin-top: 60px;
    text-align: center;
    font-family: FonteTitulo;
}

.lojas img{
    margin-top: 60px;
    width: 80px;
}

.filmes{
    text-decoration: underline;
    margin-top: 40px;
    text-align: center;
    font-family: FonteTitulo;
}

.filmes img{
    margin-top: 60px;
    width: 120px;
    border-radius: 30px;
}

.gastronomia{
    text-decoration: underline;
    margin-top: 60px;
    text-align: center;
    font-family: FonteTitulo;
}

.gastronomia img{
    width: 80px;
    margin-top: 60px;
    border-radius: 30px;
}

footer{
    background-color: #343a34;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    color: #fff;
    margin-top: 50px;
}

footer p{
    margin: auto;
}
